if patern.one || patern.vor
  include ./data.pug
    each block in blocks
      .item
        svg.item__icon 
          use(xlink:href='../../../../assets/img/sprite.svg#round')
        p.item__text=block.text


if patern.get 
  ul.cards__body
    -
      var blocks = [
        {
          src: '../../../../assets/img/sprite.svg#get5',
          title: 'Сила Бренда ',
          text: 'Узнаваемый бренд компании значитель ускорит достижение ваших бизнес-целей и увеличит доход'
        },
        {
          src: '../../../../assets/img/sprite.svg#get4',
          title: 'HR экосистема',
          text: 'Поможем с подбором кадров, построением процесса привлечения агентов и руководителей'
        },
        {
          src: '../../../../assets/img/sprite.svg#get6',
          title: 'Национальный лидер',
          text: 'Мы уже представлены в восьми городах Украины и планируем расширять сеть и далее'
        },
        {
          src: '../../../../assets/img/sprite.svg#get3',
          title: 'Обучающая система',
          text: 'Предоставим вам одну из лучших обучающих систем для агентов в стране на базе дейстующих проектов'
        },
        {
          src: '../../../../assets/img/sprite.svg#get2',
          title: 'IT-поддержка',
          text: 'Поможем с полным обеспечением вашего бизнеса IT-технологиями: начиная от CRM и заканчивая сайтом'
        },
        {
          src: '../../../../assets/img/sprite.svg#get1',
          title: 'Маркетинг и Реклама',
          text: 'Предоставим бренд-бук для разработки необходимых материалов и поможем в продвижении бизнеса'
        },
       
      ];
    each block in blocks
      section.card
        svg.card__img._a
              use(xlink:href=block.src)
        .card__title._b._s-24
          h4=block.title
        p._c.card__text=block.text

if patern.partner 
    -
      var blocks = [
        {
          src: '../../../../assets/img/partner-1.svg',
          title: 'Собственники молодых агентств недвижимости',
          text1: 'Успешный старт «под крылом» надежного бренда',
          text2: 'Гарантированное доверие клиентов',
          text3: 'Быстрое развитие',
          text4: 'Стабильная прибыль',
          text5: 'Конкурентоспобность',
        },
        {
          src: '../../../../assets/img/partner-2.svg ',
          title: 'Опытные риэлторы, желающие создать агентство недвижимости',
          text1: 'Готовая бизнес-модель для агентства',
          text2: 'Минимальные вложения',
          text3: 'План развития',
          text4: 'Стабильная прибыль',
        },
        {
          src: '../../../../assets/img/partner-3.svg',
          title: 'Самостоятельно работающие риэлторы',
          text1: 'Повышение квалификации и высококлассное обучение',
          text2: 'Больший поток клиентов',
          text3: 'Новый этап в развитии карьеры',
          text4: 'Увеличение прибыли',
        },
        {
          src: '../../../../assets/img/partner-4.svg',
          title: 'Каждый, кто желает стать самостоятельно работающим риэлтором',
          text1: 'Гарантированная окупаемость бизнеса',
          text2: 'Минимальные вложения, доступные каждому',
          text3: 'Успешный старт даже при отсутствии навыков самостоятельной работы',
          text4: 'Обучение и полная поддержка',
        },
        

       
      ];
    each block in blocks
      section.card
        img.card__img(src=block.src alt='img')._a
        .card__title._b._s-24
          h4=block.title
        ul.card__text._c
          if block.text1
            li=block.text1
          if block.text2
            li=block.text2
          if block.text3
            li=block.text3
          if block.text4
            li=block.text4
          if block.text5
            li=block.text5

if patern.contact
  -
    var blocks = [
      {
        src: '../../../../assets/img/contact.png',
        pretitle: 'Отдел продаж франшизы',
        title: 'Шаповалов Денис Юрьевич',
        text: 'Менеджер по продаже франшизы',
        contact: '+ 38 044 503 08 08'
      },
      {
        src: '../../../../assets/img/contact.png',
        pretitle: 'Директор компании',
        title: 'Пилипчук Артур Кириллович',
        text: 'Генеральный директор',
        contact: '+ 38 044 503 08 08'
      },
    ];
  each block in blocks

    section.card
        .card__pre-title
          h3=block.pretitle
        .card__body
          .card__img(src=block.src alt='img').rel._b
            .imgs
              img(src=block.src alt='img')
  
          .card__title._c
            h4=block.title
          ._d.card__text=block.text
          .card__contact._e
            svg
              use(xlink:href='../../../../assets/img/sprite.svg#contact')
            span=block.contact


















