include ../buttons/deutsch-button.pug


section.tabs#tabs_deutsch
      ul.tabs__body.tabs-container-js
        -
          var blocks = [
            {
              title: 'крышка',
              text: 'Deckel'
            },
            {
              title: 'выходить',
              text: 'ausgehen'
            },
            {title: 'приятный',text: 'angenehme'},
            {title: 'тенистый',text: 'schattige'},
            {title: 'то же самое',text: 'genauso'},
            {title: 'наблюдать',text: 'beobachten'},
            {title: 'исцелить',text: 'heilen'},
            {title: 'пересечь',text: 'überquert'},
            {title: 'Мика ничего не может поделать',text: 'Mika kann nicht anders'},
            {title: 'Встреча',text: 'Begegnung'},
            {title: 'наконец',text: 'schließlich'},
            {title: 'что-то',text: 'irgendetwas'},
            {title: 'беззаботный',text: 'unbeschwert'},
            {title: 'между тем',text: 'mittlerweile'},
            {title: 'Куча',text: 'Haufen'},
            {title: 'только',text: 'lediglich'},
            {title: 'утилизировать',text: 'entsorgen'},
            {title: 'затруднительный',text: 'umständlich'},
            {title: 'Странно',text: 'seltsam'},
            {title: 'Большое количество',text: 'Menge'},
            {title: 'подмигивать',text: 'zwinkern'},
            {title: 'оборачиваться',text: 'umdrehen'},
            {title: 'Табурет',text: 'Hocker'},
            {title: 'конченый',text: 'erledigt'},
            {title: 'позволять',text: 'erlauben'},
            {title: 'взволнованный',text: 'aufgeregt'},
            {title: 'махать',text: 'winken'},
            {title: 'оживленный',text: 'lebhaft'},
            {title: 'вчерашний',text: 'gestrige'},
            {title: 'брать на себя',text: 'übernehmen'},
            {title: 'отправляйтесь в путь',text: 'machen sie sich auf den Weg'},
            {title: 'Документы',text: 'Unterlagen'},
            {title: 'запасный',text: 'vorrätig'},
            {title: 'однако',text: 'allerdings, jedoch'},
            {title: 'зарплата',text: 'Gehalt'},
            {title: 'по меньшей мере',text: 'wenigstens'},
            {title: 'суетливый',text: 'hektisch'},
            {title: 'Урожай',text: 'Ernte'},
            {title: 'при случае',text: 'gelegentlich'},
            {title: 'друг от друга',text: 'voneinander'},
            {title: 'дополнительный',text: 'zusätzlich'},
            {title: 'кусать',text: 'beißen'},
            {title: 'Выражение',text: 'Redewendung'},
            {title: 'Правда',text: 'Wahrheit'},
            {title: 'ревнивый',text: 'neidisch'},
            {title: 'восхищенное',text: 'bewundert'},
            {title: 'Закат',text: 'Sonnenuntergang'},
            {title: 'бесконечно',text: 'unendlich'},
            {title: 'Зависть',text: 'Neid'},
            {title: 'След',text: 'Spur'},
            {title: 'вот что я подумал',text: 'das dachte ich mir'},
            {title: 'но теперь с тобой',text: 'jetzt aber ab mit dir'},
            {title: 'глядя в глаза',text: 'in die Augen gestarrt'},
            {title: 'Холм',text: 'Hügel'},
            {title: 'зевать',text: 'gähnen'},
            {title: 'Адвокат',text: 'Rechtsanwalt'},
            {title: 'прерывать',text: 'unterbrechen'},
            {title: 'тем самым',text: 'hiermit'},
            {title: 'моргать',text: 'blinzeln'},
            {title: 'выстукивать',text: 'tippen'},
            {title: 'поспешно',text: 'eilig'},
            {title: 'а именно',text: 'nämlich'},
            {title: 'высаживаться из',text: 'aussteigen aus'},
            {title: 'Торможение',text: 'Bremsung'},
            {title: 'дрожащий',text: 'zitternd'},
            {title: 'лаять',text: 'bellen'},
            {title: 'преувеличивать',text: 'übertreiben'},
            {title: 'тревожить',text: 'stören'},
            {title: 'прекрати это делать',text: 'hör damit auf'},
            {title: 'трясти',text: 'schütteln'},
            {title: 'Усилие',text: 'Mühe'},
            {title: 'ласкать гладить',text: 'streicheln'},
            {title: 'зло',text: 'übel'},
            {title: 'Коридор',text: 'Gang'},
            {title: 'нащупывает тайком',text: 'tasten heimlich'},
            {title: 'чужие',text: 'fremden'},
            {title: 'Я немного боюсь садиться в машину с незнакомыми людьми',text: 'ich habe etwas Angst mich zu fremden Menschen ins Auto zu setzen'},
            {title: 'кстати',text: 'übrigens'},
            {title: 'Также',text: 'ebenfalls'},
            {title: 'больше не',text: 'nicht mehr'},
            {title: 'что происходит, то происходит',text: 'was ab ist ist ab'},
            {title: 'медлить',text: 'zögern'},
            {title: 'удивленный',text: 'erstaunten'},
            {title: 'скрытый от',text: 'versteckt vor'},
            {title: 'тихо',text: 'leise'},
            {title: 'не любой ценой',text: 'nicht um jeden Preis'},
            {title: 'возможность',text: 'gelegenheit'},
            {title: 'билет на поезд для вас слишком дорогой',text: 'die Zugfahrkarte ist ihnen zu teuer'},
            {title: 'маршрут',text: 'Strecke'},
            {title: 'занимать',text: 'ausleihen'},
            {title: 'доверчивый',text: 'zutraulich'},
            {title: 'решенный',text: 'abgemacht'},
            {title: 'упрекать',text: 'vorwerfen'},
            {title: 'неподходящий',text: 'unpassend'},
            {title: 'удобный',text: 'bequem'},
            {title: 'Миска',text: 'Schüssel'},
            {title: 'Лаура и Марко смотрят друг на друга',text: 'Laura und Marco sehen sich an'},
            {title: 'очень вкусный',text: 'köstlich'},
            {title: 'серьезный',text: 'ernsthaft'},
            {title: 'обиженный',text: 'beleidigt'},
            {title: 'отклонять',text: 'abweisen'},
            {title: 'поддерживать ,вести',text: 'unterhalten'},
            {title: 'сбитый с толку',text: 'verwirrt'},
            {title: 'доверять',text: 'trauen'},
            {title: 'обдуманный',text: 'überlegt'},
            {title: 'полностью',text: 'völlig'},
            {title: 'в беспорядке',text: 'durcheinander'},
            {title: 'Полезное',text: 'Sinnvolles'},
            {title: 'спешить',text: 'eilen'},
            
          ];
        each block in blocks

          li.tabs__tab.tab.tab-js
            p.tab__title.tab__title_deutsch.tab-title-js
              span=block.title
              svg
                use(xlink:href='#chevron-down')
            .hidden.tab-hidden-js
              .hidden__wrapper.hidden__wrapper_deutsch
                p=block.text

        -
          var blocks = [
              {title: 'зависит von',text: 'abhängen von + Dativ'},
              {title: 'уделять внимание auf',text: 'achten auf + akk'},
              {title: 'начинать mit',text: 'anfangen mit + dat'},
              {title: 'зависеть auf',text: 'ankommen auf + akk'},
              {title: 'ответить auf',text: 'antworten auf + akk'},
              {title: 'раздражаться über',text: 'sich ärgern über + akk'},
              {title: 'прекратить mit',text: 'aufhören mit + dat'},
              {title: 'присмотреть auf',text: 'aufpassen auf + akk'},
              {title: 'расстраиваться über',text: 'sich aufregen über + akk'},
              {title: 'тратить für',text: 'ausgeben für + akk'},
              {title: 'поблагодарить bei für',text: 'sich bedanken bei + dat für + akk'},
              {title: 'прилагать усилия um',text: 'sich bemühen um + akk'},
              {title: 'выступить über',text: 'berichten über + akk'},
              {title: 'пожаловаться bei über что-нибудь',text: 'sich beschweren bei + dat über + akk'},
              {title: 'заниматься mit',text: 'sich beschäftigen mit + dat'},
              {title: 'состоять aus',text: 'bestehen aus + dat'},
              {title: 'принимаеть участие an',text: 'sich beteiligen an + dat'},
              {title: 'заявить um',text: 'sich bewerben um + akk'},
              {title: 'иметь в виду auf',text: 'sich beziehen auf + akk'},
              {title: 'попросить um',text: 'bitten um + akk'},
              {title: 'думать an',text: 'denken an + akk'},
              {title: 'обсуждать über',text: 'diskutieren über + akk'},
              {title: 'пригласить zu',text: 'einladen zu + dat'},
              {title: 'определиться für',text: 'sich entscheiden für + akk'},
              {title: 'решить zu',text: 'sich entschließen zu + dat'},
              {title: 'извиняться bei für',text: 'sich entschuldigen bei + dat für + akk'},
              {title: 'узнать von',text: 'erfahren von + dat'},
              {title: 'восстанавливаться von',text: 'sich erholen von + dat'},
              {title: 'помнить an кого-л',text: 'sich erinnern an + akk'},
              {title: 'узнать an',text: 'erkennen an + dat'},
              {title: 'поинтересуюсь nach',text: 'sich erkundigen nach + dat'},
              {title: 'пугайся über чего-л',text: 'erschrecken über + akk'},
              {title: 'говорить über',text: 'erzählen über + akk'},
              {title: 'рассказывать von',text: 'erzählen von + dat'},
              {title: 'спросить nach',text: 'fragen nach + dat'},
              {title: 'ждать auf чего-л',text: 'sich freuen auf + akk'},
              {title: 'радоваться über чему-л',text: 'sich freuen über + akk'},
              {title: 'речь идет um',text: 'gehen um + akk'},
              {title: 'пренадлежать zu',text: 'gehören zu + dat'},
              {title: 'привыкать an',text: 'sich gewöhnen an + akk'},
              {title: 'верить an',text: 'glauben an + akk'},
              {title: 'поздравлять с + akk',text: 'gratulieren zu + dat'},
              {title: 'считать für кем-л',text: 'halten für + akk'},
              {title: 'иметь дело um',text: 'sich handeln um + akk'},
              {title: 'связаны von',text: 'handeln von + dat'},
              {title: 'помогать bei',text: 'helfen bei + dat'},
              {title: 'мешать an',text: 'hindern an + dat'},
              {title: 'надеяться auf',text: 'hoffen auf + akk'},
              {title: 'услышать von',text: 'hören von + dat'},
              {title: 'самому интересоваться für чем-л',text: 'sich interessieren für + akk'},
              {title: 'быть заинтересованным an',text: 'interessiert sein an + dat'},
              {title: 'жаловаться über',text: 'klagen über + akk'},
              {title: 'бороться für',text: 'kämpfen für + akk'},
              {title: 'приходить zu',text: 'kommen zu + dat'},
              {title: 'заботиться um',text: 'sich kümmern um + akk'},
              {title: 'смеяться über',text: 'lachen über + akk'},
              {title: 'страдать an',text: 'leiden an + dat'},
              {title: 'страдающий unter',text: 'leiden unter + dat'},
              {title: 'размышлять über',text: 'nachdenken über + akk'},
              {title: 'протестовать gegen',text: 'protestieren gegen + akk'},
              {title: 'вычислять mit помощью',text: 'rechnen mit + dat'},
              {title: 'говорить über работа',text: 'reden über + akk'},
              {title: 'говорить von женщине',text: 'reden von + dat'},
              {title: 'пахнуть nach',text: 'riechen nach + dat'},
              {title: 'сказать über',text: 'sagen über + akk'},
              {title: 'сказать zu эту тему',text: 'sagen zu + dat'},
              {title: 'отправить an',text: 'schicken an + akk'},
              {title: 'отправить zu',text: 'schicken zu + dat'},
              {title: 'разглагольствовать über',text: 'schimpfen über + akk'},
              {title: 'на вкус nach',text: 'schmecken nach + dat'},
              {title: 'писать an кому.то',text: 'schreiben an + akk'},
              {title: 'видеть von',text: 'sehen von + dat'},
              {title: 'быть für gegen',text: 'sein für + akk gegen + akk'},
              {title: 'заботиться für',text: 'sorgen für + akk'},
              {title: 'разговаривать mit + über',text: 'sprechen mit + dat über + akk'},
              {title: 'умереть an',text: 'sterben an + dat'},
              {title: 'спорить mit + über',text: 'streiten mit + dat über + akk'},
              {title: 'участвовать an',text: 'teilnehmen an + dat'},
              {title: 'звонить по телефону mit',text: 'telefonieren mit + dat'},
              {title: 'встречаться mit',text: 'sich treffen mit + dat'},
              {title: 'встречаться zu',text: 'sich treffen zu + dat'},
              {title: 'развестись von',text: 'sich trennen von + dat'},
              {title: 'убедиться von этом',text: 'sich überzeugen von + dat'},
              {title: 'общаться mit',text: 'sich unterhalten mit + dat'},
              {title: 'отличаться von',text: 'sich unterscheiden von + dat'},
              {title: 'договорился встречаться mit',text: 'sich verabreden mit + dat'},
              {title: 'попрощаться von',text: 'sich verabschieden von + dat'},
              {title: 'забыть auf',text: 'vergessen auf + akk'},
              {title: 'сравнивать mit',text: 'vergleichen mit + dat'},
              {title: 'полагаться auf',text: 'sich verlassen auf + akk'},
              {title: 'влюбиться in',text: 'sich verlieben in + akk'},
              {title: 'понимать друг друга mit кем.то',text: 'sich verstehen mit + dat'},
              {title: 'понимать von',text: 'verstehen von + dat'},
              {title: 'готовиться auf',text: 'sich vorbereiten auf + akk'},
              {title: 'воображать что-либо unter',text: 'sich etwas vorstellen unter + dat'},
              {title: 'предупреждать vor',text: 'warnen vor + dat'},
              {title: 'ожидать auf чего-л',text: 'warten auf + akk'},
              {title: 'стать zu кем-л',text: 'werden zu + dat'},
              {title: 'знание von',text: 'wissen von + dat'},
              {title: 'наблюдать bei',text: 'zuschauen bei + dat'},
              {title: 'удивляетесь über чем-л',text: 'sich wundern über + akk'},
              {title: 'смотреть bei',text: 'zusehen bei + dat'},
              {title: 'сомневаться an',text: 'zweifeln an + dat'},
          ];
        each block in blocks
          li.tabs__tab.tab.tab-js.tab-werb
            p.tab__title.tab__title_deutsch.tab-title-js
              span=block.title
              svg
                use(xlink:href='#chevron-down')
            .hidden.tab-hidden-js
              .hidden__wrapper.hidden__wrapper_deutsch
                p=block.text

        -
          var blocks = [
            {title: 'Вы пойдете с нами в кино? -- Это зависит полностью от фильма!',text: 'Geht ihr mit ins Kino? -- Das hängt ganz von Film ab'},
            {title: 'Она уделяет большое внимание здоровому питанию.',text: 'Sie achtet sehr auf eine gesunde Ernährung.'},
            {title: 'приходи Пожалуйста, мы хотим с едой начать !',text: 'Komm bitte, wir wollen mit dem Essen anfangen !'},
            {title: 'Это зависит особенно от вашей помощи',text: 'Es kommt besonders auf Ihre Hilfe an!'},
            {title: 'Я могу же не на каждый вопрос ответить!',text: 'Ich kann doch nicht auf jede Frage antworten!'},
            {title: 'Человек расстраивается слишком часто из-за вещей, которые он не изменить может.',text: 'Man ärgert sich zu oft über Dinge, die man nicht ändern kann.'},
            {title: 'Я так устал - я прекращу сейчас с этой работой!',text: 'Ich bin so müde - ich höre jetzt mit dieser Arbeit auf!'},
            {title: 'Не могли бы вы пожалуйста ненадолго за моей сумкой присмотреть ?',text: 'Können Sie bitte kurz auf meine Tasche aufpassen?'},
            {title: 'Некоторые люди расстраиваются из-за каждой мелочи.',text: 'Manche Leute regen sich über jede Kleinigkeit auf.'},
            {title: 'для дорогую одежду не трачу Я деньги .',text: 'Für teure Kleidung gebe ich kein Geld aus.'},
            {title: 'Ты уже Симону и Марио за отличный подарок поблагодарил?',text: 'Hast du dich schon bei Simone und Mario für das tolle Geschenk bedankt ?'},
            {title: 'Я прилагаю все усилия, чтобы записаться на прием к господину Мальцу.',text: 'Ich bemühe mich um einen Termin bei Herrn Malz.'},
            {title: 'После этого выступила госпожа Майер о конференции в Кельне.',text: 'Danach berichtete Frau Maier über die Konferenz in Köln.'},
            {title: 'с финансовыми вопросами заниматься Я не люблю .',text: 'Mit finanziellen Dingen beschäftige ich mich nicht gern.'},
            {title: 'пожалуйтесь вы уже директору на несправедливое обращение .',text: 'Beschweren Sie sich doch beim Direktor über die ungerechte Behandlung.'},
            {title: 'Сертификат b1 по немецкому языку состоит из устного и письменного экзамена.',text: 'Das Zertifikat b1 Deutsch besteht aus einer mündlichen und einer schriftlichen Prüfung.'},
            {title: 'Фрау Лидке принимает участие всегда очень активно в занятиях.',text: 'Frau Liedke beteiligt sich immer sehr aktiv am Unterricht.'},
            {title: 'вы в конце концов заявите на стипендию!',text: 'Bewerben Sie sich doch um ein Stipendium!'},
            {title: 'Мы имеем в виду наш разговор на прошлой неделе.',text: 'Wir beziehen uns auf unser Gespräch von letzter Woche.'},
            {title: 'Господин Лаутербах попросил меня высказать свое мнение.',text: 'Herr Lauterbach bat mich um meine Meinung.'},
            {title: 'Я думаю все время о следующем отпуске.',text: 'Ich denke schon immerzu an den nächsten Urlaub.'},
            {title: 'Мне нравится обсуждать политику.',text: 'Ich diskutiere gerne über Politik.'},
            {title: 'Я хотел бы вас на мой праздник в субботу пригласить.',text: 'Ich würde Sie gerne zu meinem Fest am Samstag einladen.'},
            {title: 'Вы уже определились с конкретным платьем?',text: 'Haben Sie sich schon für ein bestimmtes Kleid entschieden?'},
            {title: 'Мы решили пожениться.',text: 'Wir haben uns zur Heirat entschlossen.'},
            {title: 'Директор не собирается передо мной за несправедливое обращение извиняться, я уверен в этом.',text: 'Der Director wird sich bei mir nicht für die ungerechte Behandlung entschuldigen, da bin ich mir sicher.'},
            {title: 'Почему узнаю я только сейчас об этом ?',text: 'Warum erfahre ich erst jetzt von dieser Sache?'},
            {title: 'Здесь, в отпуске, я восстанавливаюсь после всего стресса!',text: 'Hier im Urlaub erhole ich mich von dem ganzen Stress!'},
            {title: 'помните Вы все еще меня? Это было давно...',text: 'Erinnern Sie sich noch an mich? Es ist lange her...'},
            {title: 'Северогерманский язык узнать man по интонации.',text: 'Norddeutsche erkennt man an der Intonation.'},
            {title: 'Я поинтересуюсь как-нибудь у своей старой подруги.',text: 'Ich erkundige mich mal nach meiner alten Freundin.'},
            {title: 'пугайся Пожалуйста не моей новой прически.',text: 'Erschrick bitte nicht über meine neue Frisur.'},
            {title: 'Расскажи вы нам что-нибудь о своей стране.',text: 'Erzählen Sie uns doch mal etwas über Ihr Land.'},
            {title: 'Я вам уже о своем невезении вчера говорил?',text: 'Habe ich Ihnen schon von meinem Pech gestern erzählt?'},
            {title: 'В офисе спросить вам лучше всего о Херне Фрелих.',text: 'Auf dem Amt fragen Sie am besten nach Hern Fröhlich.'},
            {title: 'Я жду уже так на следующего отпуска.',text: 'Ich freue mich schon so auf den nächsten Urlaub.'},
            {title: 'Я был очень вашему визиту рад.',text: 'Ich habe mich sehr über Ihren Besuch gefreut.'},
            {title: 'Могу я на минутку вмешаться - речь идет об одном важном деле.',text: 'Darf ich kurz stören - es geht um eine wichtige Sache.'},
            {title: 'Болгария является частью ЕС с 2007 года.',text: 'Bulgarien gehört seit 2007 zur Eu.'},
            {title: 'К здешней еде я быстро привык.',text: 'An das Essen hier habe ich mich schnell gewöhnt.'},
            {title: 'Я верю в жизнь после смерти.',text: 'Ich glaube an ein Leben nach dem Tod.'},
            {title: 'я поздравляю тебя Сердечно с днем ​​рождения!',text: 'Ich gratuliere dir herzlich zu deinem Geburtstag!'},
            {title: 'Я считаю его компетентным сотрудником.',text: 'Ich halte ihn für einen kompetenten Mitarbeiter.'},
            {title: 'Это конфиденциальный вопрос.',text: 'Es handelt sich um eine vertrauliche Angelegenheit.'},
            {title: 'Этот роман повествует о загадочном убийстве.',text: 'Dieser Roman handelt von einem rätselhaften Mord.'},
            {title: 'Саймон помогает мне всегда с изучением словарного запаса.',text: 'Simon hilft mir immer beim Vokabellernen.'},
            {title: 'Шум мешает мне работать.',text: 'Der Lärm hindert mich an der Arbeit.'},
            {title: 'Не надейтесь на лучшие времена - сделайте что-нибудь!',text: 'Hoffe nicht auf bessere Zeiten - unternimm liber was!'},
            {title: 'Я давно о тебе ничего не слышал!',text: 'Ich habe schon lange nichts mehr von dir gehört!'},
            {title: 'Она интересуется очень классической музыкой.',text: 'Sie interessiert sich sehr für klassische Musik.'},
            {title: 'Были бы вы в бесплатной консультации заинтересованы?',text: 'Wären Sie an einer kostenlosen Beratung interessiert?'},
            {title: 'Она жалуется всегда на плохое сообщение поезда.',text: 'Sie klagt immer über die schlechte Zugverbindung.'},
            {title: 'Меньшинство борется за равные права.',text: 'Die Minderheit kämpft für gleiche Rechte.'},
            {title: 'Я не обрабатывать ваше дело пришел, у меня просто не было времени.',text: 'Ich bin nicht zur Bearbeitung Ihrer Akte gekommen , ich hatte einfach keine Zeit.'},
            {title: 'Пожалуйста, позаботьтесь тоже о досье моей жены !',text: 'Bitte kümmern Sie sich auch um die Akte meiner Frau!'},
            {title: 'Я люблю смеяться над забавными историями.',text: 'Ich lache gerne über lustige Geschichten.'},
            {title: 'Он страдает редким заболеванием.',text: 'Er leidet an einer seltenen Krankheit.'},
            {title: 'Я страдаю очень от влажного климата.',text: 'Ich leide sehr unter dem feuchten Klima.'},
            {title: 'Подумайте еще раз о нашем предложении!',text: 'Denken Sie noch einmal über unser Angebot nach!'},
            {title: 'Рабочие протестуют против закрытия завода.',text: 'Die Arbeiter protestieren gegen die Schließung der Fabrik.'},
            {title: 'Мы рассчитываем с время в пути от три часа.',text: 'Wir rechnen mit einer Fahrzeit von drei Stunden.'},
            {title: 'говорить мы же не постоянно о работе!',text: 'Reden wir doch nicht immer über die Arbeit!'},
            {title: 'Он говорит все время о незнакомой женщине.',text: 'Er redet die ganze Zeit von einer unbekannten Frau.'},
            {title: 'Мне кажется, здесь пахнет газом. Это опасно!',text: 'Ich glaube, hier riecht es nach Gas. Das ist gefährlich!'},
            {title: 'Он что-то сказал обо мне?',text: 'Hat er etwas über mich gesagt?'},
            {title: 'Извините, на эту тему скажу я ничего .',text: 'Tut mir Leid , zu diesem Thema sage ich nichts.'},
            {title: 'Отправьте вы это же на мой мюнхенский адрес!',text: 'Schicken Sie das doch an meine Münchner Adresse!'},
            {title: 'Присылай твоих детей же к нам - тут могут они играть !',text: 'Schick deine Kinder doch zu uns - da können sie spielen!'},
            {title: 'Не ругайте всегда других водителей!',text: 'Schimpf nicht immer über andere Autofahrer!'},
            {title: 'Шоколад со вкусом клубники!',text: 'Die Schokolade schmeckt nach Erdbeeren!'},
            {title: 'Я пишу прямо сейчас сообщение своим родителям .',text: 'Ich schreibe gerade eine Nachricht an meine Eltern.'},
            {title: 'Вы все еще видите пятно от кофе?',text: 'Sieht man noch etwas von dem Kaffeefleck?'},
            {title: 'Правительство есть за введение евро.',text: 'Die Regierung ist für die Einführung des Euro.'},
            {title: 'С тех пор, как он так заболел, я забочусь о своем пожилом отце.',text: 'Seit er so krank ist , sorge ich für meinen alten Vater.'},
            {title: 'Я хотел бы с удовольствием с вами о вашей новой книге поговорить .',text: 'Ich möchte gerne mit Ihnen über Ihr neuestes Buch sprechen.'},
            {title: 'Он умер от опухоли головного мозга.',text: 'Er starb an einem Gehirntumor.'},
            {title: 'Спорите вы также всегда с вашими родителями о политике.',text: 'Streitest du auch immer mit deinen Eltern über Politik?'},
            {title: 'посещаете Вы также конференцию на следующей неделе?',text: 'Nehmen Sie auch an der Koferenz nächste Woche teil?'},
            {title: 'Вы уже с госпожой Оздемир телефонировали?',text: 'Haben Sie schon mit Frau Özdemir telefoniert?'},
            {title: 'Я встречаюсь сегодня вечером со своей подругой.',text: 'Ich treffe mich heute Abend mit meiner Freundin.'},
            {title: 'После этого встречаемся мы для короткой беседы.',text: 'Nachher treffen wir uns zu einem kurzen Gespräch.'},
            {title: 'она в прошлом году с мужем рассталась .',text: 'Sie hat sich letztes jahr von ihrem Mann getrennt.'},
            {title: 'Убедитесь сами в качестве продукта!',text: 'Überzeugen Sie sich selbst von der Qualität des Produkts!'},
            {title: 'с тобой говорить мне нравится с удовольствием об искусстве.',text: 'Mit dir unterhalte ich mich gerne über Kunst.'},
            {title: 'Жизнь в деревне отличается сильно от жизни в городе.',text: 'Das Leben auf dem Land unterscheidet sich sehr von Leben in der Stadt.'},
            {title: 'сегодня вечером я с одним коллегой договорился встретиться.',text: 'Heute Abend bin ich mit einem Kollegen verabredet.'},
            {title: 'Мы должны сейчас с вами попрощаться , уже поздно!',text: 'Wir müssen uns jetzt von Ihnen verabschieden, es ist schon spät!'},
            {title: 'Я о его дне рождения забыл.',text: 'Ich habe auf seinen Geburtstag vergessen.'},
            {title: 'сравним давайте винительный падеж с дательным.',text: 'Vergleichen wir einmal den Akkusativ mit dem Dativ.'},
            {title: 'Я полагаюсь на ваш совет!',text: 'Ich verlasse mich auf Ihren Rat!'},
            {title: 'Лягушка влюбилась в принцессу.',text: 'Der Frosch verliebte sich in eine Prinzessin.'},
            {title: 'Я хорошо лажу с коллегами.',text: 'Ich verstehe mich gut mit meinen Kollegen.'},
            {title: 'Он компьютерный эксперт, но Он понимает также много об искусстве.',text: 'Er ist Computerexperte, aber er versteht auch viel von Kunst.'},
            {title: 'Ты можешь себе что-то под термином «деконструкция» представить?',text: 'Kannst du dir etwas unter dem Begriff `Deconstruktion` vorstellen?'},
            {title: 'готовиться ли мы Будем вместе к экзамену ?',text: 'Bereiten wir uns gemeinsam auf die Prüfung vor?'},
            {title: 'Он меня об этой опасной зоне предупредил.',text: 'Er hat mich vor dieser gefährlichen Gegend gewarnt.'},
            {title: 'подождите Пожалуйста меня, я сейчас буду!',text: 'Wartet bitte auf mich, ich komme gleich!'},
            {title: 'Он есть настоящим компьютерным экспертом стал.',text: 'Er ist zu einem richtigen Computerexperten geworden.'},
            {title: '«Я не знаю ничего о кризисе, — сказал президент.',text: '`Ich weiß nichts von einer Krise`, sagte der Präsident.'},
            {title: 'Она смотрит, как он делает знак.',text: 'Sie schaut ihm beim Zeichen zu.'},
            {title: 'Вы удивляетесь хорошей системе метро в Гамбурге.',text: 'Sie wundern sich über das gute U-Bahnsystem in Hamburg.'},
            {title: 'Он смотрит ее за игрой в футбол.',text: 'Er sieht ihr beim Fußballspielen zu.'},
            {title: 'Честно говоря, сомневаюсь я в вашей версии истории.',text: 'Ehrlich gesagt, zweifle ich an ihrer Version der Geschichte.'},
          ];
        each block in blocks
          li.tabs__tab.tab.tab-js.tab-zaten
            p.tab__title.tab__title_deutsch.tab-title-js
              span=block.title
              svg
                use(xlink:href='#chevron-down')
            .hidden.tab-hidden-js
              .hidden__wrapper.hidden__wrapper_deutsch
                p=block.text