mixin btn(classblock,rel,text)
  a.btn.btn--success.but-wave.popups-init-js(rel=rel href='#!' class=classblock)=text
    if block
      block
    else 

mixin btn-empty(classblock,text)
  a.btn.btn--empty( href='#!' class=classblock)=text
    if block
      block
    else 

mixin rating(id)
  fildset.fildset-rating
    .fildset-rating__items
      - var n = 1;
      while n < 6
        input(type="radio" id=id+n name=id value=6-n )
        label(for=id+n++)
          svg
            use(xlink:href='#Star')


