ul.uber__links.uber-blocks.uber-blocks--lang
  -
    var blocks = [
              
              
              
              
              
              
              
              {title: 'договорился встречаться mit',text: 'sich verabreden mit + dat'},
              {title: 'радоваться über чему-л',text: 'sich freuen über + akk'},
              {title: 'тратить für',text: 'ausgeben für + akk'},{title: 'сравнивать mit',text: 'vergleichen mit + dat'},
              {title: 'поблагодарить bei für',text: 'sich bedanken bei + dat für + akk'},
              
              {title: 'выступить über',text: 'berichten über + akk'},
              {title: 'пожаловаться bei über что-нибудь',text: 'sich beschweren bei + dat über + akk'},{title: 'зависит von',text: 'abhängen von + Dativ'},
              {title: 'заниматься mit',text: 'sich beschäftigen mit + dat'},
              {title: 'состоять aus',text: 'bestehen aus + dat'},
              {title: 'принимаеть участие an',text: 'sich beteiligen an + dat'},
              {title: 'заявить um',text: 'sich bewerben um + akk'},{title: 'зависеть auf',text: 'ankommen auf + akk'},
              {title: 'иметь в виду auf',text: 'sich beziehen auf + akk'},
              {title: 'попросить um',text: 'bitten um + akk'},
              {title: 'думать an',text: 'denken an + akk'},
              {title: 'обсуждать über',text: 'diskutieren über + akk'},
              {title: 'пригласить zu',text: 'einladen zu + dat'},{title: 'уделять внимание auf',text: 'achten auf + akk'},{title: 'рассказывать von',text: 'erzählen von + dat'},
              {title: 'определиться für',text: 'sich entscheiden für + akk'},
              {title: 'решить zu',text: 'sich entschließen zu + dat'},
              {title: 'извиняться bei für',text: 'sich entschuldigen bei + dat für + akk'},{title: 'ответить auf',text: 'antworten auf + akk'},{title: 'воображать что-либо unter',text: 'sich etwas vorstellen unter + dat'},{title: 'влюбиться in',text: 'sich verlieben in + akk'},
              {title: 'узнать von',text: 'erfahren von + dat'},{title: 'забыть auf',text: 'vergessen auf + akk'},
              {title: 'восстанавливаться von',text: 'sich erholen von + dat'},
              {title: 'помнить an кого-л',text: 'sich erinnern an + akk'},
              {title: 'узнать an',text: 'erkennen an + dat'},{title: 'начинать mit',text: 'anfangen mit + dat'},
              {title: 'поинтересуюсь nach',text: 'sich erkundigen nach + dat'},
              {title: 'пугайся über чего-л',text: 'erschrecken über + akk'},
              {title: 'говорить über',text: 'erzählen über + akk'},
              
              {title: 'спросить nach',text: 'fragen nach + dat'},{title: 'общаться mit',text: 'sich unterhalten mit + dat'},
              {title: 'ждать auf чего-л',text: 'sich freuen auf + akk'},
              
              {title: 'речь идет um',text: 'gehen um + akk'},{title: 'знание von',text: 'wissen von + dat'},{title: 'отличаться von',text: 'sich unterscheiden von + dat'},
              {title: 'пренадлежать zu',text: 'gehören zu + dat'},{title: 'попрощаться von',text: 'sich verabschieden von + dat'},
              {title: 'привыкать an',text: 'sich gewöhnen an + akk'},
              {title: 'верить an',text: 'glauben an + akk'},{title: 'понимать друг друга mit кем.то',text: 'sich verstehen mit + dat'},
              {title: 'поздравлять с + akk',text: 'gratulieren zu + dat'},
              {title: 'считать für кем-л',text: 'halten für + akk'},{title: 'раздражаться über',text: 'sich ärgern über + akk'},{title: 'полагаться auf',text: 'sich verlassen auf + akk'},
              {title: 'иметь дело um',text: 'sich handeln um + akk'},
              {title: 'связаны von',text: 'handeln von + dat'},{title: 'стать zu кем-л',text: 'werden zu + dat'},
              {title: 'помогать bei',text: 'helfen bei + dat'},
              {title: 'мешать an',text: 'hindern an + dat'},{title: 'наблюдать bei',text: 'zuschauen bei + dat'},
              {title: 'надеяться auf',text: 'hoffen auf + akk'},{title: 'присмотреть auf',text: 'aufpassen auf + akk'},{title: 'расстраиваться über',text: 'sich aufregen über + akk'},
              {title: 'услышать von',text: 'hören von + dat'},
              {title: 'самому интересоваться für чем-л',text: 'sich interessieren für + akk'},
              {title: 'быть заинтересованным an',text: 'interessiert sein an + dat'},
              {title: 'жаловаться über',text: 'klagen über + akk'},
              {title: 'бороться für',text: 'kämpfen für + akk'},
              {title: 'приходить zu',text: 'kommen zu + dat'},{title: 'предупреждать vor',text: 'warnen vor + dat'},
              {title: 'заботиться um',text: 'sich kümmern um + akk'},
              {title: 'смеяться über',text: 'lachen über + akk'},
              {title: 'страдать an',text: 'leiden an + dat'},
              {title: 'страдающий unter',text: 'leiden unter + dat'},
              {title: 'размышлять über',text: 'nachdenken über + akk'},
              {title: 'протестовать gegen',text: 'protestieren gegen + akk'},
              {title: 'вычислять mit помощью',text: 'rechnen mit + dat'},
              {title: 'говорить über работа',text: 'reden über + akk'},{title: 'ожидать auf чего-л',text: 'warten auf + akk'},{title: 'прекратить mit',text: 'aufhören mit + dat'},
              {title: 'говорить von женщине',text: 'reden von + dat'},{title: 'смотреть bei',text: 'zusehen bei + dat'},
              {title: 'пахнуть nach',text: 'riechen nach + dat'},{title: 'понимать von',text: 'verstehen von + dat'},
              {title: 'сказать über',text: 'sagen über + akk'},{title: 'готовиться auf',text: 'sich vorbereiten auf + akk'},
              {title: 'сказать zu эту тему',text: 'sagen zu + dat'},
              {title: 'отправить an',text: 'schicken an + akk'},
              {title: 'отправить zu',text: 'schicken zu + dat'},
              {title: 'разглагольствовать über',text: 'schimpfen über + akk'},
              {title: 'на вкус nach',text: 'schmecken nach + dat'},{title: 'удивляетесь über чем-л',text: 'sich wundern über + akk'},
              {title: 'писать an кому.то',text: 'schreiben an + akk'},
              {title: 'видеть von',text: 'sehen von + dat'},{title: 'сомневаться an',text: 'zweifeln an + dat'},
              {title: 'быть für gegen',text: 'sein für + akk gegen + akk'},
              {title: 'заботиться für',text: 'sorgen für + akk'},
              {title: 'разговаривать mit + über',text: 'sprechen mit + dat über + akk'},
              {title: 'умереть an',text: 'sterben an + dat'},
              {title: 'спорить mit + über',text: 'streiten mit + dat über + akk'},
              {title: 'участвовать an',text: 'teilnehmen an + dat'},
              {title: 'звонить по телефону mit',text: 'telefonieren mit + dat'},
              {title: 'встречаться mit',text: 'sich treffen mit + dat'},
              {title: 'встречаться zu',text: 'sich treffen zu + dat'},
              {title: 'развестись von',text: 'sich trennen von + dat'},
              {title: 'убедиться von этом',text: 'sich überzeugen von + dat'},
              {title: 'прилагать усилия um',text: 'sich bemühen um + akk'},
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
    ];
  each block in blocks
    li.uber-block.js-cell
      .mark=block.title
      .versteckt=block.title
      .uber-block__card.js-card(draggable='true')
        h4=block.title

ul.uber__rechts.uber-blocks.uber-blocks--lang
  -
    var blocks = [

              {title: 'зависит von',text: 'abhängen von + Dativ'},
              {title: 'уделять внимание auf',text: 'achten auf + akk'},
              {title: 'начинать mit',text: 'anfangen mit + dat'},
              {title: 'зависеть auf',text: 'ankommen auf + akk'},
              {title: 'ответить auf',text: 'antworten auf + akk'},
              {title: 'раздражаться über',text: 'sich ärgern über + akk'},
              {title: 'прекратить mit',text: 'aufhören mit + dat'},
              {title: 'присмотреть auf',text: 'aufpassen auf + akk'},
              {title: 'расстраиваться über',text: 'sich aufregen über + akk'},
              {title: 'тратить für',text: 'ausgeben für + akk'},
              {title: 'поблагодарить bei für',text: 'sich bedanken bei + dat für + akk'},
              {title: 'прилагать усилия um',text: 'sich bemühen um + akk'},
              {title: 'выступить über',text: 'berichten über + akk'},
              {title: 'пожаловаться bei über что-нибудь',text: 'sich beschweren bei + dat über + akk'},
              {title: 'заниматься mit',text: 'sich beschäftigen mit + dat'},
              {title: 'состоять aus',text: 'bestehen aus + dat'},
              {title: 'принимаеть участие an',text: 'sich beteiligen an + dat'},
              {title: 'заявить um',text: 'sich bewerben um + akk'},
              {title: 'иметь в виду auf',text: 'sich beziehen auf + akk'},
              {title: 'попросить um',text: 'bitten um + akk'},
              {title: 'думать an',text: 'denken an + akk'},
              {title: 'обсуждать über',text: 'diskutieren über + akk'},
              {title: 'пригласить zu',text: 'einladen zu + dat'},
              {title: 'определиться für',text: 'sich entscheiden für + akk'},
              {title: 'решить zu',text: 'sich entschließen zu + dat'},
              {title: 'извиняться bei für',text: 'sich entschuldigen bei + dat für + akk'},
              {title: 'узнать von',text: 'erfahren von + dat'},
              {title: 'восстанавливаться von',text: 'sich erholen von + dat'},
              {title: 'помнить an кого-л',text: 'sich erinnern an + akk'},
              {title: 'узнать an',text: 'erkennen an + dat'},
              {title: 'поинтересуюсь nach',text: 'sich erkundigen nach + dat'},
              {title: 'пугайся über чего-л',text: 'erschrecken über + akk'},
              {title: 'говорить über',text: 'erzählen über + akk'},
              {title: 'рассказывать von',text: 'erzählen von + dat'},
              {title: 'спросить nach',text: 'fragen nach + dat'},
              {title: 'ждать auf чего-л',text: 'sich freuen auf + akk'},
              {title: 'радоваться über чему-л',text: 'sich freuen über + akk'},
              {title: 'речь идет um',text: 'gehen um + akk'},
              {title: 'пренадлежать zu',text: 'gehören zu + dat'},
              {title: 'привыкать an',text: 'sich gewöhnen an + akk'},
              {title: 'верить an',text: 'glauben an + akk'},
              {title: 'поздравлять с + akk',text: 'gratulieren zu + dat'},
              {title: 'считать für кем-л',text: 'halten für + akk'},
              {title: 'иметь дело um',text: 'sich handeln um + akk'},
              {title: 'связаны von',text: 'handeln von + dat'},
              {title: 'помогать bei',text: 'helfen bei + dat'},
              {title: 'мешать an',text: 'hindern an + dat'},
              {title: 'надеяться auf',text: 'hoffen auf + akk'},
              {title: 'услышать von',text: 'hören von + dat'},
              {title: 'самому интересоваться für чем-л',text: 'sich interessieren für + akk'},
              {title: 'быть заинтересованным an',text: 'interessiert sein an + dat'},
              {title: 'жаловаться über',text: 'klagen über + akk'},
              {title: 'бороться für',text: 'kämpfen für + akk'},
              {title: 'приходить zu',text: 'kommen zu + dat'},
              {title: 'заботиться um',text: 'sich kümmern um + akk'},
              {title: 'смеяться über',text: 'lachen über + akk'},
              {title: 'страдать an',text: 'leiden an + dat'},
              {title: 'страдающий unter',text: 'leiden unter + dat'},
              {title: 'размышлять über',text: 'nachdenken über + akk'},
              {title: 'протестовать gegen',text: 'protestieren gegen + akk'},
              {title: 'вычислять mit помощью',text: 'rechnen mit + dat'},
              {title: 'говорить über работа',text: 'reden über + akk'},
              {title: 'говорить von женщине',text: 'reden von + dat'},
              {title: 'пахнуть nach',text: 'riechen nach + dat'},
              {title: 'сказать über',text: 'sagen über + akk'},
              {title: 'сказать zu эту тему',text: 'sagen zu + dat'},
              {title: 'отправить an',text: 'schicken an + akk'},
              {title: 'отправить zu',text: 'schicken zu + dat'},
              {title: 'разглагольствовать über',text: 'schimpfen über + akk'},
              {title: 'на вкус nach',text: 'schmecken nach + dat'},
              {title: 'писать an кому.то',text: 'schreiben an + akk'},
              {title: 'видеть von',text: 'sehen von + dat'},
              {title: 'быть für gegen',text: 'sein für + akk gegen + akk'},
              {title: 'заботиться für',text: 'sorgen für + akk'},
              {title: 'разговаривать mit + über',text: 'sprechen mit + dat über + akk'},
              {title: 'умереть an',text: 'sterben an + dat'},
              {title: 'спорить mit + über',text: 'streiten mit + dat über + akk'},
              {title: 'участвовать an',text: 'teilnehmen an + dat'},
              {title: 'звонить по телефону mit',text: 'telefonieren mit + dat'},
              {title: 'встречаться mit',text: 'sich treffen mit + dat'},
              {title: 'встречаться zu',text: 'sich treffen zu + dat'},
              {title: 'развестись von',text: 'sich trennen von + dat'},
              {title: 'убедиться von этом',text: 'sich überzeugen von + dat'},
              {title: 'общаться mit',text: 'sich unterhalten mit + dat'},
              {title: 'отличаться von',text: 'sich unterscheiden von + dat'},
              {title: 'договорился встречаться mit',text: 'sich verabreden mit + dat'},
              {title: 'попрощаться von',text: 'sich verabschieden von + dat'},
              {title: 'забыть auf',text: 'vergessen auf + akk'},
              {title: 'сравнивать mit',text: 'vergleichen mit + dat'},
              {title: 'полагаться auf',text: 'sich verlassen auf + akk'},
              {title: 'влюбиться in',text: 'sich verlieben in + akk'},
              {title: 'понимать друг друга mit кем.то',text: 'sich verstehen mit + dat'},
              {title: 'понимать von',text: 'verstehen von + dat'},
              {title: 'готовиться auf',text: 'sich vorbereiten auf + akk'},
              {title: 'воображать что-либо unter',text: 'sich etwas vorstellen unter + dat'},
              {title: 'предупреждать vor',text: 'warnen vor + dat'},
              {title: 'ожидать auf чего-л',text: 'warten auf + akk'},
              {title: 'стать zu кем-л',text: 'werden zu + dat'},
              {title: 'знание von',text: 'wissen von + dat'},
              {title: 'наблюдать bei',text: 'zuschauen bei + dat'},
              {title: 'удивляетесь über чем-л',text: 'sich wundern über + akk'},
              {title: 'смотреть bei',text: 'zusehen bei + dat'},
              {title: 'сомневаться an',text: 'zweifeln an + dat'},
    ];

  each block in blocks
    li.uber-block.js-cell
      .rus=block.text
      .mark=block.title










